.us2{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    
    img{
        width: 20rem;
        height: 30rem;
        object-fit:cover;
        opacity: .9;
        transition: transform .5s;
        &:hover{
            opacity: 1;
            transform: scale(1.05);
        }
    }
    div{
        background-color:white;
        margin: 1.2rem;
        @media @phone{
            margin: 2rem auto;
        }
    }
    p{
        font-size: 1.2rem;
        padding: 0 1.5rem;
        color:black;
    }
    strong{
        font-weight: bold;
    }
}


/*
.us{
    
    h1{
        color:white;
        font-size: 4rem;
        @media @tablet{
            text-align: center;
        }
    }
    img{
        padding: 5rem;
        background-color: white;
        border: 4px solid darkred;
        opacity: .9;
        filter: blur(1px);
        &:hover{
            padding: 1rem;
            opacity: 1;
            transition: .2s;
            filter: brightness(105%);
        }
        width: 30%;
        margin: 1rem;
        border-radius: 500px;
        @media @tablet{
            width: 28%;
            padding: 1.5rem;
            opacity: 1;
            filter: blur(0px);
        }
        @media @phone{
            opacity: 1;
            filter: blur(0px);
            padding: 0;
            width: 40%;
            &:hover{
                padding: 0;
                opacity: 1;
                transition: .2s;
                filter: brightness(105%);
            }
        }
    }
}


font-family: 'Nunito', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/