*{
    box-sizing: border-box;
    font-size: 62.5%;
}

@phone: ~"screen and (max-width: 500px)";
@tablet: ~"screen and (max-width: 800px)";

body{
    background-color: #0D132B;
    margin: 0 19%;
    @media @tablet{
        margin: 0 10%;
    }
    @media @phone{
        margin: 0 4%;
    }
    p{
        color: white;
        font-size: 1.8rem;
        @media @phone{
            font-size: 2.4rem;
        }
    }
    h1{
        font-family: 'Merriweather', serif;
        font-size: 3.6rem;
        font-weight: bold;
        color: white;
        text-align: center;
        letter-spacing: 2px;
    }
header{
        h3{
            font-family: Nunito, sans-serif;
            font-weight: bold;
            font-size: 1.8rem;
            margin-top: 0;
            padding-top: 1em;
            padding-left: 1em;
            padding-bottom: 0.5em;
            background-color: #E5E5E5;
            color: black;
            @media @phone{
                text-align: center;
                font-size: 3rem;
                padding: 0 0 0.5rem 0;
                margin: 0;
            }
        }
    }
.navigation{
        nav{
        margin-left: 40%;
        margin-right: 10%;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media @tablet{
            margin: 0 5%;
            padding-top: 0.5rem;
        }
        @media @phone{
            margin: 0 5%;
            padding-top: 0.5rem;
        }
            a{
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                font-size: 1.6rem;
                text-decoration: none;
                color: white;
                &:hover{
                    color: lightblue;
                }
                @media @phone{
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                    padding: 0.3rem 0;
                }
            }
        }
    }
.headline{
        display:flex;
        justify-content: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
        h1{
            font-family: 'Merriweather', serif;
            font-size: 3.6rem;
            font-weight: bold;
            color: white;
            width: 50%;
            text-align: center;
            margin-left: 2rem;
            @media @tablet{
                display: block;
                width: 100%;
            }
            @media @phone{
                display: block;
                width: 100%;
            }
        }

      .logsign{
        display:flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin: 3.5rem auto;
        .btn{
            padding: 1.5rem 5rem;
            background-image: linear-gradient(#FF9500,#FFC500);
            line-height: 1.2rem;
            color:black;
            border: 1px solid #FF9500;
            border-radius: 18px;
            font-size: 2.5rem;
            text-decoration: none;
            &:hover{
            background-image: linear-gradient(#FFC500,#FFF500);
            border: 1px solid #FFA500;
            }
            
        }

        .nobtn{
            text-decoration: none;
            color:lightgrey;
            &:hover{
                color:white;
                text-decoration: underline;
            }
            font-size: 1.5rem;
            margin-top: .7rem;
        }
    }


        /* h2{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 3.6rem;
            color:white;
            width: 50%;
            text-align: center;
            @media @tablet{
                display: block;
                width: 100%;
            }
            @media @phone{
                display: block;
                width: 100%;
            }
        } */
    }
.lorem{        
        margin-top: 4rem;
        margin-right: 1.5rem;
        margin-bottom: 4rem;
        font-family: Nunito, sans-serif;
        }

.pics{
        margin-top: 3rem;
        display:flex;
        justify-content: space-between;
        @media @tablet{
            flex-direction: column-reverse;
            flex-wrap: wrap;
            max-width: 100%;
        }
        @media @phone{
            
        }
        img{
            max-width: 30%;
            object-fit: cover;
            transition: transform .5s;
            &:hover{
                filter: saturate(1.1);
                filter: brightness(105%);
            }
            @media @tablet{
                max-width: 100%;
                width: 100%;
                margin: 1rem 0;
                border-radius: 10px;
            }
            @media @phone{
                max-width: 100%;
                margin: 1rem 0;
                border-radius: 5px;
            }
        }

        #chefimg{
            @media @tablet{
                display: none;
                
            }
            @media @phone{
                display: none;
            }
        }
    }

.hexchefs{
    margin-top: 4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: baseline;
    .blurb{
        width: 33%;
        display:flex;
        flex-direction:column;
        align-items: center;
        margin-bottom: 2em;
        @media @tablet{
            margin-top: -2.5rem;
            width: 50%;
        }
        @media @phone{
            width: 100%;
            margin-top: 1rem;
        }
    
        li{
            list-style-type: none;
            position: relative;
            width: 80%;
            padding: 0 0 92% 0;
            -o-transform: rotate(-60deg) skewY(30deg);
            -moz-transform: rotate(-60deg) skewY(30deg);
            -webkit-transform: rotate(-60deg) skewY(30deg);
            -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
            overflow:hidden;
            visibility:hidden;
            opacity: .8;
            &:hover{
                opacity:1;
                filter: brightness(105%);
            }
            .hex{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                -o-transform: skewY(-30deg) rotate(60deg);
                -moz-transform: skewY(-30deg) rotate(60deg);
                -webkit-transform: skewY(-30deg) rotate(60deg);
                -ms-transform: skewY(-30deg) rotate(60deg);
                transform: skewY(-30deg) rotate(60deg);
                overflow: hidden;
                visibility: visible;
                #chef1{
                    max-width:200%;
                }
                #chef2{
                    max-width:150%;
                }
                #chef3{
                    max-width:120%;
                }
            }
        }
        h3{
            color: white;
            font-size: 3.4rem;
        }
        p{
            font-family: 'Merriweather', serif;
            font-size: 1.8rem;
            margin: 1rem 13%;
            @media @tablet{
                margin: 0 3%;
            }
            em{
                font-weight: bold;
                font-size: 1.6rem;
            }
        }
    }
}

footer{
        background-color: #222222;
        margin-top: 16rem;
        padding: 0 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media @phone{
            padding: 0 5%;
        }
        a{
            padding-top: 1rem;
            padding-bottom: 3rem;
            text-decoration: none;
            font-size: 1.4rem;
            color: white;
        }
}

.toptext{
    h1{
        display: block;
        text-align: left;
        margin-left: 1.5rem;
    }
    p{
        margin-left: 1.5rem;
    }
}

.us2{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    
    img{
        width: 20rem;
        height: 30rem;
        object-fit:cover;
        opacity: .9;
        transition: transform .5s;
        &:hover{
            opacity: 1;
            transform: scale(1.05);
        }
    }
    div{
        background-color:white;
        margin: 1.2rem;
        @media @phone{
            margin: 2rem auto;
        }
    }
    p{
        font-size: 1.2rem;
        padding: 0 1.5rem;
        color:black;
    }
    strong{
        font-weight: bold;
    }
}
 





}//closes body

/*
.us{
    
    h1{
        color:white;
        font-size: 4rem;
        @media @tablet{
            text-align: center;
        }
    }
    img{
        padding: 5rem;
        background-color: white;
        border: 4px solid darkred;
        opacity: .9;
        filter: blur(1px);
        &:hover{
            padding: 1rem;
            opacity: 1;
            transition: .2s;
            filter: brightness(105%);
        }
        width: 30%;
        margin: 1rem;
        border-radius: 500px;
        @media @tablet{
            width: 28%;
            padding: 1.5rem;
            opacity: 1;
            filter: blur(0px);
        }
        @media @phone{
            opacity: 1;
            filter: blur(0px);
            padding: 0;
            width: 40%;
            &:hover{
                padding: 0;
                opacity: 1;
                transition: .2s;
                filter: brightness(105%);
            }
        }
    }
}


font-family: 'Nunito', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/




